<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Escuela Chucky</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet">
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="hold-transition" style="background: #1b1b1b;">

<div class="position-absolute top-0 start-0 m-3">
    <a href="{% url 'admin:index' %}" class="btn btn-warning">
        <i class="fa-solid fa-user-shield"></i> Django Admin
    </a>
</div>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="text-center text-light">

        <h1 class="fw-bold mb-4">Escuela Chucky</h1>

        <p class="text-muted mb-4">Bienvenido</p>

        <a href="/user/login/" class="btn btn-primary btn-lg px-4 py-2">
            <i class="fa-solid fa-door-open"></i> Comenzar
        </a>
        
    </div>

</div>

</body>
</html>
